<div class="container py-4" style="max-width: 580px;">
  <%= link_to "← #{@project.location_zip.presence || "Projet"}", @project, class: "od-back-link" %>
  <div class="od-page-title">Ajouter un document</div>

  <div class="od-form-card">
    <%= render "form" %>
  </div>
</div>
